<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
  </head>
  <body>
  <form class="form-horizontal" method="post">
    <fieldset>
    <legend>設定 Alert</legend>

    <div class="control-group">
      <label class="control-label" for="setting1">setting1</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="setting1" name="setting1" />
      </div>
	  <p></p>
    
      <label class="control-label" for="setting2">setting2</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="setting2" name="setting2">       
      </div>
	  <p></p>
	 </div>
	<div class="control-group">
	<label class="control-label" for="leveltype">level</label>
      <div class="controls">
	  <label class="radio">
	  <input type="radio" name="optionsRadios" id="timer1" value="60000" checked>60sec</label>
	  <label class="radio">
	  <input type="radio" name="optionsRadios" id="timer2" value="180000">180sec</label>
	  </div>
      <!--<label class="control-label" for="timestamp">timestamp</label>-->
      <div class="controls" id="timestamp" name="timestamp"></div>
	</div>
	
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">送出</button>
      
    </div></fieldset>
  </form>
  <!--這一段是存在的-->
  <% if (locals.messages) { %>
  <% messages.forEach(function(message) { %>
  <p class='<%= message.type %>'>
    <%= message.string %>
  </p><% }) %><% removeMessages() %><% } %>
  <br /><% if (resp) { %>
  <h3>儲存alert setting</h3>
  
  <table class="table">
    <tbody>
	<tr>
      <td>Setting1</td>
	  <td><%= resp.setting1 %></td>
    </tr>
	<tr>
      <td>Setting2</td>
	  <td><%= resp.setting2 %></td>
    </tr>
	<tr>
      <td>timer</td>
	  <td><%= resp.timer %></td>
    </tr>
  </tbody>
</table>
<!--
  <p>Level : <%= resp.level %></p>
  <p>Timestamp : <%= resp.timestamp %></p>
  <p>_id : <%= resp._id %></p>
  <p>Log Message : <%= resp.message %></p>
  -->
    <% } else {  } %>
</body>
</html>
