<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/stylesheets/c3.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/d3.min.js" charset="utf-8"></script>
    <script src="/javascripts/c3.min.js"></script>
</head>
<!--<body id='bodyWrap'>-->
<body>
<fieldset>
    <legend>列表 Alert</legend>
</fieldset>
<!--這一段是存在的-->
<% if (locals.messages) { %>
<% messages.forEach(function(message) { %>
<p class='<%= message.type %>'><%= message.string %></p>
<% }) %>
<% removeMessages() %>
<% } %>

<% if (resp) { %>
<% if (resp.length == 0) { %>
<% var now = new Date() %>
<h4><%= now.toLocaleTimeString() %> 查無資料!</h4>
<% } else{ %>
<p><%= timer1.toLocaleTimeString() %> － <%= timer2.toLocaleTimeString() %></p>
<table class="table" id='alertContent'>
    <caption></caption>
    <thead>
    <tr>
        <th>Level</th>
        <th>Timestamp</th>
        <th>Message</th>
        <th>Id</th>
        <th>Host</th>
    </tr>
    </thead>
    <tbody>
    <% resp.forEach( function(body){ %>
    <tr>
        <td><%= body.level %></td>
        <% if(body.timestamp) {
        if(body.timestamp.toString().length > 12){ %>
        <td><%= body.timestamp %></td>
        <% } else { %>
        <td><%= body.timestamp %></td>
        <% } } %>
        <td><%= body.message %></td>
        <td><%= body._id %></td>
        <% if( body.host ){ %>
        <td><%= body.host.ip %></td>
        <% } %>
    </tr>
    <% }); %>
    </tbody>
</table>
<% } %>
<% } else { %>
<h3>總量 : <%= totalcount %>筆資料</h3>
<% } %>
<% if (logdetail) { %>
<hr>
<h4>詳細資料:</h4>
<%= logdetail %>
<% } %>
<script>
    setTimeout(function () {
        window.location.reload(1);
    }, <%= seccount %>);
</script>
</body>
</html>