<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<form class="form-horizontal" method="post">
    <fieldset>
        <legend>新增 Alert</legend>

        <!--<div class="control-group">-->
        <!--<label class="control-label" for="logid">_id</label>-->
        <!--<div class="controls">-->
        <!--<select id="field" multiple="multiple">-->
        <!--<option>time</option>-->
        <!--<option>identifier</option>-->
        <!--<option>message</option>-->
        <!--</select>-->
        <!--<p></p>-->

        <div class="control-group">

            <!--<label class="control-label" for="matchdate">時間區間</label>-->
            <!--<div class="controls">-->
            <!--&lt;!&ndash;disabled="disabled"&ndash;&gt;-->
            <!--<input type="text" class="input-small" id="matchdate" name="matchdate" value="" disabled="disabled"></input> --->
            <!--<input type="text" class="input-small" id="matchenddate" name="matchenddate" value="" disabled="disabled"></input>　-->
            <!--</br>-->
            <!--ex:2014-03-25 or 2013-03-25 18:00:00-->
            <!--</div>-->
            <!--<p></p>-->

            <label class="control-label" for="identifier">identifier</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="identifier" name="identifier" />　　ex:%PIX-6-302005
            </div>
            <p></p>

            <label class="control-label" for="facility">Facility</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="facility" name="facility" />　　ex:%PIX
            </div>
            <p></p>

            <label class="control-label" for="severity">Severity</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="severity" name="severity" />　　ex:6
            </div>
            <p></p>

            <label class="control-label" for="mnemonic">Mnemonic</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="mnemonic" name="mnemonic" />　　ex:302005
            </div>
            <p></p>

            <label class="control-label" for="matchmsg">Message</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="matchmsg" name="matchmsg"/>　　ex:198.207.223.240
            </div>
            <p></p>

            <label class="control-label" for="info"></label>

            <div> * 新增告警條件 <span style="font-family:consolas">{$regex:/string/}</span></div>
            <!--，由上面的欄位開始。-->
            <p></p>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">add</button>
        </div>
    </fieldset>
</form>

<p></p>
<% if (resp) { %>
<h3>儲存完成</h3>
<p>event</p>
<!--<p>Level : <%= resp.level %></p>-->
<!--<p>_id : <%= resp._id %></p>-->
<!--<p>event : {identifier: <%= JSON.stringify(resp.event.identifier) %>,message:<%= JSON.stringify(resp.event.message)%>}}</p>-->
<!--<p>Timestamp : <%= resp.time %></p>-->
<!--<p>Identifier : <%= resp.identifier %></p>-->
<!--<p>Log Message : <%= resp.message %></p>-->

<% } else { %>
<h3></h3>
<% } %>

</body>
</html>